################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/.vs
/backend/src/StockTrader.AI/obj
/backend/src/StockTrader.Api/obj
/backend/src/StockTrader.Application/obj
/backend/src/StockTrader.Contracts/obj
/backend/src/StockTrader.Domain/obj
/backend/src/StockTrader.Infrastructure/obj
/backend/src/StockTrader.Persistence/obj
/backend/src/StockTrader.Shared/obj
/backend/tests/StockTrader.IntegrationTests/obj
/backend/tests/StockTrader.UnitTests/obj
/backend/src/StockTrader.AI/bin/Debug
/.vs/CopilotSnapshots/87AB902BFEA378449FE77B6FB6775996
/.vs/CopilotSnapshots/E55571AD4ABBF04BB662AA84C7EF3109
/.vs/CopilotSnapshots/80B4353E5FC2A549970E83DD58E2945A
/backend/src/StockTrader.Api/bin/Debug/net10.0/Azure.AI.OpenAI.dll
/backend/src/StockTrader.Api/bin/Debug/net10.0/Azure.Core.dll
/backend/src/StockTrader.Api/bin/Debug/net10.0/Microsoft.Agents.AI.Abstractions.dll
/backend/src/StockTrader.Api/bin/Debug/net10.0/Microsoft.Bcl.AsyncInterfaces.dll
/backend/src/StockTrader.Api/bin/Debug/net10.0/Microsoft.Extensions.AI.Abstractions.dll
/backend/src/StockTrader.Api/bin/Debug/net10.0/Microsoft.Extensions.AI.dll
/backend/src/StockTrader.Api/bin/Debug/net10.0/Microsoft.Extensions.AI.OpenAI.dll
/backend/src/StockTrader.Api/bin/Debug/net10.0/Microsoft.SemanticKernel.Agents.Abstractions.dll
/backend/src/StockTrader.Api/bin/Debug/net10.0/Microsoft.SemanticKernel.Agents.Core.dll
/backend/src/StockTrader.Api/bin/Debug/net10.0/Microsoft.SemanticKernel.Connectors.AzureOpenAI.dll
/backend/src/StockTrader.Api/bin/Debug/net10.0/Microsoft.SemanticKernel.Connectors.OpenAI.dll
/backend/src/StockTrader.Api/bin/Debug/net10.0/Microsoft.SemanticKernel.dll
/backend/src/StockTrader.Api/bin/Debug/net10.0/StockTrader.AI.dll
/backend/src/StockTrader.Api/bin/Debug/net10.0/StockTrader.AI.pdb
/backend/src/StockTrader.Api/bin/Debug/net10.0/StockTrader.Api.deps.json
/backend/src/StockTrader.Api/bin/Debug/net10.0/StockTrader.Api.dll
/backend/src/StockTrader.Api/bin/Debug/net10.0/StockTrader.Api.pdb
/backend/src/StockTrader.Api/bin/Debug/net10.0/System.Numerics.Tensors.dll
/backend/src/StockTrader.Api/bin/Debug/net10.0/appsettings.json
/backend/src/StockTrader.Api/bin/Debug/net10.0/StockTrader.Api.exe
/backend/src/StockTrader.Api/bin/Debug/net10.0/appsettings.json
/backend/src/StockTrader.Api/bin/Debug/net10.0/StockTrader.Api.exe
